<h1>Listing presences</h1>


<table>
  <tr>
    <th>Created by</th>
    <th>Value</th>
    <th>Badge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presences.each do |presence| %>
<<<<<<< Updated upstream
  <tr>
    <td><%= presence.created_by %></td>
    <td><%= presence.value %></td>
<<<<<<< Updated upstream
    <td><%= presence.badge.name %></td>
=======
    <td><%= presence.badge %></td>
=======

<%= render partial: "index", locals:{presence:presence} %>
>>>>>>> Stashed changes
>>>>>>> Stashed changes
    <td><%= link_to 'Show', presence %></td>
    <td><%= link_to 'Edit', edit_presence_path(presence) %></td>
    <td><%= link_to 'Destroy', presence, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>
</table>

<br />

<%= link_to 'New Presence', new_presence_path %>
