<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attribute.name %>
</p>

<p>
  <b>Description:</b>
  <%= @attribute.description %>
</p>

<p>
  <b>Type:</b>
  <%= @attribute.type %>
</p>

<p>
  <b>Value:</b>
  <%= @attribute.value %>
</p>

<p>
  <b>Resource:</b>
  <%= @attribute.resource %>
</p>


<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
