<p id="notice"><%= notice %></p>

<p>
<%= image_tag "http://api.qrserver.com/v1/create-qr-code/?data=#{badge_path(@badge)}&size=250x250" %>
</p>

<p>
  <b>Name:</b>
  <%= @badge.name %>
</p>

<p>
  <b>Description:</b>
  <%= @badge.description %>
</p>

<% @badge.details.each do |detail| %>
<div>
<p><b><%= detail.kind %></b> <%= detail.value %></p>
</div>

<% end %>
<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
