<h1>Editing library</h1>

<%= render 'form' %>

  <div>
    <h2>Book</h2>
    <%= form_for ([@library, @library.books.build]) do |a| %>
	  <div class="field">
	    <%= a.label :title %><br />
	    <%= a.text_field :title %>
	  </div>
	  <div class="field">
	    <%= a.label :author %><br />
	    <%= a.text_area :author %>
	  </div>
	  <div class="actions">
	    <%= a.submit %>
	  </div>
    <% end %>
  </div>

<%= link_to 'Show', @library %> |
<%= link_to 'Back', libraries_path %>
