<h1>Editing resource</h1>

<%= render 'form' %>

  <div>
    <h2>Attributes</h2>
    <%= form_for ([@resource, @resource.attributes.build]) do |a| %>
	  <div class="field">
	    <%= a.label :name %><br />
	    <%= a.text_field :name %>
	  </div>
	  <div class="field">
	    <%= a.label :description %><br />
	    <%= a.text_area :description %>
	  </div>
	  <div class="field">
	    <%= a.label :atype %><br />
	    <%= a.number_field :atype %>
	  </div>
	  <div class="field">
	    <%= a.label :value %><br />
	    <%= a.text_field :value %>
	  </div>
	  <div class="actions">
	    <%= a.submit %>
	  </div>


    <% end %>

  </div>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>
